{
  "extends": "ridibooks",
  "env": {
    "browser": true
  },
  "globals": {
    "$": true
  },
  "rules": {
    "arrow-parens": 0,
    "no-alert": 0,
    "no-useless-rename": 0,
    "no-restricted-syntax": 1,
    "prefer-template": 0,
    "react/forbid-prop-types": 1,
    "react/jsx-boolean-value": 1
  }
}
